/**
 * Cta styles.
 */

.block-cta {
  margin: 0;
}

.cta {
  &__title {
    margin-top: 0;
    text-transform: uppercase;
    font-family: @custom-font-name;
  }

  &--img {
    color: @body-bg;
    overflow: hidden;
    padding: 0;
    position: relative;

    .cta {
      &__img {
        img {
          max-width: none;
          width: auto;

          @media (min-width: @screen-lg) {
            max-width: 100%;
            width: 100%;
          }
        }
      }

      &__content {
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        bottom: auto;
        padding: 0 10px;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        @media (min-width: @screen-sm) {
          left: 20px;
          max-width: 530px;
          padding: 0 20px;
          text-align: left;
        }

        @media (min-width: @screen-md) and (max-width: @screen-lg) {
          max-width: 420px;
        }

        @media (min-width: @screen-md) {
          padding: 0;
        }
      }

      &__body {
        margin-bottom: 40px;
      }

      &__title {
        @media (min-width: @screen-md) and (max-width: @screen-lg) {
          font-size: 50px;
        }
      }

      .btn {
        margin-bottom: 20px;
        padding: 9px 25px;

        @media (min-width: @screen-md) {
          margin-bottom: 0;
          margin-right: 30px;
        }
      }
    }
  }

  &--1 {
    .cta {
      &__img  img {
        @media (min-width: @screen-md) {
          height: auto;
        }
      }

      &__content {
        @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
          padding: 0;
        }

        @media (min-width: @screen-md) {
          align-items: center;
          justify-content: center;
          left: auto;
          right: 35px;
          top: 50%;
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          max-width: 480px;
        }

        @media (min-width: @screen-md) and (max-width: @screen-lg) {
          left: 30px;
        }
      }

      &__title {
        font-size: 48px;
        font-style: italic;
        margin-bottom: 5px;

        @media (min-width: @screen-md) {
          font-size: 60px;
          line-height: 68px;
          margin-bottom: 10px;
        }

        span {
          color: @gray-yellow;

          @media (min-width: @screen-md) {
            display: block;
          }
        }
      }

      &__body {
        font-size: 18px;
        line-height: 32px;
        font-family: @custom-2-font-name;
        margin-bottom: 40px;
      }

      p {
        margin-bottom: 0;
      }

      .btn {
        font-size: 14px;
        margin-bottom: 0;
        padding: 9px 15px;

        @media (min-width: @screen-sm) {
          font-size: 16px;
          padding: 9px 25px;
        }
      }
    }

    &:nth-child(2) {
      .cta {
        &__content {

          @media (min-width: @screen-md) {
            left: 80px;
            max-width: 450px;
            right: auto;
          }

          @media (min-width: @screen-md) and (max-width: @screen-lg) {
            left: 50px;
          }
        }

        &__title {
          font-family: @custom-footer-font-name;
          font-size: 30px;
          font-style: inherit;
          margin-bottom: 15px;
        }

        &__body {
          font-family: @font-family-sans-serif;
          font-size: 14px;
          line-height: 26px;
        }

        .btn {
          font-size: 13px;
        }
      }
    }
  }

  &--center {
    text-align: center;

    .cta {
      &__content {
        left: 0;
        max-width: 100%;
        text-align: center;
        width: 100%;
      }

      &__title {
        font-size: 30px;
        margin-bottom: 10px;
      }

      &__body {
        font-size: 14px;
        margin-bottom: 50px;
      }

      .btn {
        font-size: 14px;
        margin-right: 0;
        padding: 15px 70px;
      }
    }
  }

  &--bg {
    background: @brand-primary;
    color: @body-bg;
    padding: 60px 0;
    text-align: center;

    .cta {
      &__title {
        font-size: 48px;
      }

      &__body {
        font-family: @custom-font-name;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 50px;
      }

      &__description {
        font-size: 18px;
        font-weight: 600;
      }

      .btn {
        font-size: 24px;
        margin-bottom: 15px;
        padding: 8px 50px;
      }
    }
  }
}
