/**
 * Media box styles.
 */

.media-box {
  @media (min-width: @screen-md) {
    margin: 0 -25px;
  }

  &__items {
    margin-bottom: 50px;
    margin-top: 25px;
    text-align: center;

    @media (min-width: @screen-md) {
      margin-bottom: 25px;
      padding: 0 40px;
    }

    &__img {
      background: #000;
      display: inline-block;

      @media (min-width: @screen-sm-min) {
        display: block;
      }

      a img:hover {
        opacity: .7;
      }

      img {
        border: 1px solid @gray-e1;
        height: auto;
        max-width: 100%;

        @media (min-width: @screen-sm-min) {
          width: auto;
        }
      }
    }


    &__content {
      padding-top: 30px;
    }

    &__title {
      font-family: @custom-2-font-name;
      font-size: 16px;
      margin-bottom: 20px;
      margin-top: 0;
      text-transform: uppercase;

      a {
        color: @gray-46;

        &:hover {
          color: @brand-primary;
          text-decoration: none;
        }
      }
    }
  }

  &--wide {
    .media-box {
      &__items {
        padding: 0 25px;
      }

      &__items {
        &__img {
          border-bottom: 5px solid @gray-blue-2;
        }
      }

      &__content {
        border-bottom: 1px solid @gray-e1;
        border-left: 1px solid @gray-e1;
        border-right: 1px solid @gray-e1;
        padding: 29px 10px 25px;

        @media (max-width: @screen-xs-max) {
          height: auto !important;
          margin: 0 auto;
        }
      }
    }
  }
}
