/**
 * SiteWide style.
 */

a:hover,
a:focus {
  border: 0;
}

.sidebar {
  @media screen and (min-width: @screen-sm) {
    padding-left: 45px;
  }

  .block-title {
    font-size: 18px;
    margin-bottom: 28px;
  }

  .block {
    border-bottom: 1px solid @gray-f4;
    margin-bottom: 40px;
    padding-bottom: 25px;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.logo {
  margin: 0;

  @media screen and (max-width: @screen-xs) {
    width: 150px;
  }

  img {
    max-width: 248px;
    width: auto;

    @media screen and (max-width: @screen-xs) {
      width: 100%;
    }
  }
}

.region {
  padding-bottom: 30px;
  padding-top: 50px;

  @media screen and (min-width: @screen-md) {
    padding-bottom: 55px;
    padding-top: 80px;
  }
}

.pagination {
  margin-top: 0;

  .pager__item {
    display: inline-block;
    margin-right: 6px;

    a {
      border-radius: 3px;
      color: @gray-66;
      font-size: 16px;
      line-height: 1;
      padding: 6px 9px;

      &:hover {
        background: none;
        border: 1px solid @brand-primary;
        color: @gray-66;
      }
    }

    &.active {
      a {
        background: none;
      }
    }
  }
}
